/* General Styles START */
*, *::before, *::after
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 100%;
    height: 100%;
}

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a
{
    text-decoration: none;
}

.content-section
{
    margin: 1em;
}

.container
{
    width: 80%;
    margin: 0 auto;
    padding: 0 1.5em;
}

.btn
{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    padding: 0.67em;
    font-weight: bold;
    outline: none;
}
/* General Styles END */


/* Header Styles START */
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.header-title-and-bars-wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-title
{
    font-size: 1.6rem; /* Equivalent to 25.6px */
    color: #D80000;
    margin: 0;
}

.fa-bars
{
    cursor: pointer;
    display: none;
}

.fa-bars, .header-links a, .btn-header
{
    color: whitesmoke;
}

.header-links a
{
    display: inline-block;
    padding: 0.5em;
    transition: color 350ms ease-in-out;
}

.header-links a:last-child
{
    display: none;
}

.header-links a:not(:last-child)
{
    margin-right: 0.5rem;
}

.header-links a:hover
{
    color: yellow;
}

.btn-header
{
    border-radius: 9999px; /* To make it pill-shaped */
    border: 2px solid whitesmoke;
    font-size: 1.25rem;
    background-color: black;
}

.btn-header:hover
{
    background-color: #909090;
}
/* Header Styles END */


/* Footer Styles START */
footer
{
    margin-top: auto;
    background-color: #D2B48C; /* Tan */
}
/* Footer Styles END */


/* index.html Styles START */
.intro-container, .cta-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-container
{
    height: 100vh;
}

.cta-wrapper, .hero-wrapper
{
    width: 50%;
    height: 80%;
}

.cta-wrapper
{
    flex-direction: column;
    background-color: #D80000;
    font-size: 1rem;
    padding: 0 1.5em;
}

.intro-title
{
    text-align: center;
    line-height: 1.7;
    color: #98ff98; /* Mint green */
}

.btn-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cta-services-link, .btn-cta-join-link
{
    border-radius: 0.625rem; /* Equivalent to 10px */
    transition: background-color 300ms ease-in-out;
    font-size: 1rem;
    font-weight: bold;
}

.btn-cta-services-link
{
    background-color: white;
    border: 3px solid black;
    margin-right: 0.5rem;
}

.btn-cta-services-link:hover
{
    background-color: lightgrey;
}

.btn-cta-join-link
{
    background-color: black;
    color: white;
    border: 3px solid white;
}

.btn-cta-join-link:hover
{
    background-color: #36454f; /* Charcoal */
}

.hero-img
{
    background-image: url(Images/img-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}
/* index.html Styles END */


/* Media Queries Styles START */
@media (max-width: 37.5rem) /* Equivalent to 600px */
{
    /* index.html Styles START */
    .intro-title
    {
        font-size: 1.25rem;
    }

    .btn-wrapper
    {
        flex-direction: column;
    }

    .btn-cta-services-link, .btn-cta-join-link
    {
        font-size: 0.8125rem;
    }

    .btn-cta-services-link
    {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
    /* index.html Styles END */
}


@media (max-width: 36.25rem) /* Equivalent to 580px */
{
    /* Header Styles START */
    header
    {
        flex-direction: column;
        padding: 0;
    }

    .header-title-and-bars-wrapper
    {
        width: 100%;
        padding: 0 0.5em;
    }

    .fa-bars
    {
        display: block;
    }

    .fa-bars:hover
    {
        color: #909090;
    }

    .header-links
    {
        display: none;
        border-top: 3px solid #909090;
        padding-top: 0.5em;
        width: 100%;
    }

    .header-links a
    {
        padding: 0.5em 0;
    }

    .header-links a:last-child
    {
        display: inline-block;
    }

    .btn-header
    {
        display: none;
    }

    .active-fa-bars
    {
        color: #909090;
    }

    .active-header-menu
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-links a
    {
        width: 100%;
        text-align: center;
    }

    .header-links a:hover
    {
        background-color: #909090;
    }

    .header-links a:not(:last-child), .header-title-and-bars-wrapper
    {
        margin-bottom: 0.5rem;
    }
    /* Header Styles END */
}
/* Media Queries Styles END */